/*****jsp의 style을 옮김 */
#header-wrapper {
    display: flex;
    /*****max-width: 1100px; 제거*/
    margin: 0 auto;
    padding: 0;
    border: 0;
    /*align-content: center; !*****jsp의 style을 옮김 *!*/
    /*text-align: center; !*****jsp의 style을 옮김 *!*/
    width: 100%; /***** 신규 */
    white-space: nowrap; /***** 신규 */
    background: #f3f3f3; /***** 신규 */
    position: relative;
    text-align: center;
}

.logout-btn {

}

.logout-btn.badge {
    background: rgba(255, 193, 99, 0.9);
}

.logout-btn.focus, .logout-btn:focus, .logout-btn:hover {
    color: rgba(247, 247, 247, 1);
    background: rgba(255, 193, 99, 0.7);
    text-decoration: none;
}

/*jsp의 style을 옮김 */
#header-wrapper h1 {
    margin: 0 auto;
    padding: 20px 0 20px 50px;
}

#nav-wrapper {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    border: 0;
    border-top: 5px rgba(220, 220, 220, 1) solid;
    background: rgba(91, 146, 206, 1);
    /*****min-width: 1000px; 조정*/
}

#nav {
    /*width: 970px;*/
    /*max-width: 1100px;*/
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border: 0;
    height: 80px;
    color: white;
}

.header-button {
    position: relative;
    background: rgba(91, 146, 206, 1);
    float: left;
    width: 25%;
    height: 80px;
    color: rgba(165, 197, 230, 1);
}

.header-button:active, .header-button.active {
    background: rgba(116, 168, 226, 1);
    color: rgba(240, 240, 240, 1);

}

.header-button:hover {
    background: rgba(116, 168, 226, 1);
    color: rgba(255, 255, 255, 1);
}

.header-button:focus {
    background: rgba(116, 168, 226, 1);
    color: rgba(255, 255, 255, 1);
}

#content {
    width: 100%;
    margin-top: 15px;
    /*min-width: 768px;*/
}

#content-wrapper {
    margin: 0 auto;
    min-width: 700px;
}

#progress-wrapper {
    padding: 10px 10px 0 10px;
}

#search-input-wrapper {
}

/*****jsp의 style을 옮김 */
#search-wrapper {
    width: 100%;
}

/*****jsp의 style을 옮김 */
#search-result-number {
    display: block;
    width: 170px; /*****조정*/
    float: left;
}

/*****jsp의 style을 옮김 */
#search-progress {
    width: calc(100% - 254px); /*@@@@@@@수정*/
    margin-bottom: 0;
}

#search-option-radio-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*****jsp의 style을 옮김 */
#search {
    width: 333px;
    height: 100%;
    min-width: 333px;
    max-width: 333px;
    background: rgba(239, 239, 239, 1);
    /*****overflow: scroll; 조정*/
    overflow-y: auto; /***** 신규 */
    overflow-x: hidden; /***** 신규 */
}

#content {
    height: 100%;
}

#book-table {
    /*width: 1000px;*/
    margin: 0;
    padding: 0;
    max-width: none;
    table-layout: fixed;
    position: relative;
    border: 1px solid #ddd;
}

#header {
    /*position: absolute;*/
    top: 0;
    background: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    /*display: table-row;*/
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    /*padding: 0;*/
}

#result-table-wrapper table th,
#result-table-wrapper table td {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    /*min-width: 0;*/
}

#result-table-wrapper table td {
    text-align: center;
    text-overflow: ellipsis;
}

#book-table-header table th {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    /*min-width: 0;*/
}

#result-table-wrapper {
    position: relative;
}

#result-table-wrapper table td:nth-child(10),
#result-table-wrapper table td:nth-child(11),
#result-table-wrapper table td:nth-child(12) {
    text-align: left;
}

/*#book-table-header{*/
/*margin: 0!important;*/
/*margin: 0;*/
/*padding: 0;*/
/*!*max-width: none;*!*/
/*table-layout: fixed;*/
/*}*/

.dropdown-menu {
    font-size: 11px;
}

body {
    min-width: 900px;
}

.popover {
    width: 280px;
    max-width: 280px;
    z-index: 9;
}

.bg-white {
    background-color: #fefefe !important;
}

.popover .pagination-sm > li > a, .popover .pagination-sm > li > span, .popover .pagination > li > a, .popover .pagination > li > span {
    font-size: 10px;
}

.border-gray {
    border: 2px solid #efefef;
}

.relative-content-container{
	position:relative;
}

.relative-table-wrapper {
    padding: 15px;
}
.relative-table-wrapper th {
    text-align:center; 
}

.relative-table-wrapper tr td:last-child {
    text-align:left; 
}

.relative-table-wrapper td {
    text-align:center; 
}

.relative-table-wrapper .close {
    top: 10px;
    right: 15px;
}

.relative-table-wrapper .relative-title {
    background: #337ab7;
    padding: 10px;
    color: white;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
}

.highlight-background {
    background-color: #ffff88;
}

#nickname-search-option-radio-wrapper {
    padding-top: 10px;
}

.header-button > .glyphicon {
    margin-bottom: 5px;
    text-align: center;
    font-size: 27px;
    padding-top: 10px;
}

#nickname-result-table > thead > tr > th {
    text-align: center;
}

.table-striped > thead > tr {
    background-color: #fff;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #fff;
}

.table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
}

.nickname-search-td {
    cursor: pointer;
}

.popover-relative-content-td, .popover-content-td {
    width: 400px;
    max-width: 400px;
    word-break: break-all;
    z-index: 9;
    font-size: 11px;
}

.bookmark-btn {
    background: url("/imgs/bookmark-empty-star.png") no-repeat;
    background-size: 100%;
    -webkit-transition: background-image 0.25s ease-in-out;
    transition: background-image 0.25s ease-in-out;
    cursor: pointer;
}

.bookmark-btn:hover {
    background: url("/imgs/bookmark-empty-star-active.png") no-repeat;
    background-size: 100%;
    opacity: 0.5;
}

.bookmark-btn-active,
.bookmark-btn-active:hover {
    background: url("/imgs/bookmark-empty-star-active.png") no-repeat;
    background-size: 100%;
    opacity: 1;
}

.user-history-bookmark-td {
    line-height: 100% !important;
    text-align: center !important;
    vertical-align: middle !important;
}

.user-history-remove-td {
    line-height: 100% !important;
    text-align: center !important;
    vertical-align: middle !important;
}

.user-bookmark-alarm-td {
    line-height: 100% !important;
    text-align: center !important;
    vertical-align: middle !important;
    width: 40px;
    cursor: pointer;
}

#user-history > table > tbody > tr > td:nth-child(2) {
    cursor: pointer;
}

.badge {
    background: rgba(252, 73, 55, 0.9);
}

.badge-no-alarm {
    background: rgba(200, 200, 200, 1);
}

.user-bookmark-remove-td {
    line-height: 100% !important;
    text-align: center !important;
    vertical-align: middle !important;
    width: 40px;
}

.user-bookmark-search-word-td {
    word-break: break-all;
    cursor: pointer;
    vertical-align: middle;
}

.user-bookmark-count-td {
    cursor: pointer;
}

/*.search-date-option{*/
/*font-size: 10px;*/
/*padding: 3px 5px 3px 5px;*/
/*margin-left: 15px;*/
/*margin-bottom: 5px;*/
/*border-radius: 25px;*/
/*}*/

#search-date-option-container {
    width: 40px;
    /*margin-bottom: 10px;*/
    margin-right:10px;
    float: left;
    padding: 0;
}